<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Out-of-date Exherbo packages">
        <meta name="author" content="Rasmus Thomsen">
        <title>Out-of-date Exherbo packages</title>
    </head>
    <body>
      <ul>
        {{range .}}
        <li>Package Name: {{.PackageName}} Upstream Version: {{.UpstreamVersion}} Our Version: {{.ExherboVersion}}</li>
        {{end}}
      </ul>
    </body>
</html>
